body {
    margin: auto 0;
    padding: auto 0;
    background-color: yellow;
    background-color:#ffe646;
    /* background: rgb(235, 255, 12);
    background: linear-gradient(0deg, rgba(186, 170, 12, 1) 6%, rgba(47, 157, 69, 1) 29%, rgba(179, 168, 37, 1) 46%, rgba(177, 110, 46, 1) 60%, rgba(174, 56, 153, 1) 77%, rgba(170, 165, 70, 1) 100%); */
}

.tag-line {
    background-color: rgb(221, 255, 0);
    text-align: center;
    color: pink;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 8rem;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;

}

.main-container {
    display: grid;
    grid-template-columns: repeat(20, 200px);
    grid-template-rows: repeat(300, 150px);
    grid-row-gap: 4px;
    grid-column-gap: 3px;
}

header {
    background: rgb(186, 170, 12);
    background: linear-gradient(0deg, rgba(186, 170, 12, 1) 6%, rgba(47, 157, 69, 1) 29%, rgba(179, 168, 37, 1) 46%, rgba(177, 110, 46, 1) 60%, rgba(174, 56, 153, 1) 77%, rgba(170, 165, 70, 1) 100%);
    width: 100%;
    border-bottom: 3px solid red;
}

.do-not-look    {
    background-color: black;
    color: white;
    width: 900px;
}

header img {
    display: flex;
    justify-content: flex-start;
}

/* div {

    /* border: 2px solid yellow; */


.nothing {
    height: 100vh;
    background: yellow;
    color: black;
    font-size: 5rem;

    border: 2px solid yellow;
}


footer h1 {
    font-size: 20rem;
    text-align: center;
}
:root {
    --pink: #e91e63;
    --teal: #009688;
    --purple: #9c27b0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

} */

.btn {
    background-color: var(--teal);
    padding: .5em 1.5em;
    font-size: 5.5em;
    color: goldenrod;
    outline: #9c27b0;
    border: #e91e63;
    border-radius: 1.8em 1.5em 1.7em 0.9;
    cursor: crosshair;
    transition: box-shadow .2s;

}

.btn:hover {
    transform: translateY(-333px);
    box-shadow: 0 55px 111px #9c27b0;
}